.apt {
    cursor: pointer;
}

.nickname {
    text-align: center;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.door {
    position: relative;
}

.aptNum {
    position: absolute;
    top: 30%;
    left: 50%;
}

.img {
    max-width: 100%;
}