.container {
    max-width: calc(90vw); /* to compensate for padding */
    margin: 0 auto;
    padding: 5vw;
}

.choose {
    font-size: 2em;
    display: block;
    width: fit-content;
    margin: 0 auto 2rem auto;
}