.neighborhood {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(30vw, 1fr) );;
}

.newBinyan {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.newBinyan > span {
    font-size: 5em;
}