.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.payment {
    margin-bottom: 1rem;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 1);
}

.amount {
    display: inline-block;
    margin: 0;
}

.memo {
    display: inline-block;
    margin: 0 0 0 1em;
}